.table-container{
  display: flex;
  justify-content: center;
}

table {
  width: 1150px;
  position: fixed;
  background-color: #fff;
  margin-left: 240px;
  margin-top: 200px;
  border-radius: 10px;
  font-size: 10px;
  box-shadow: 0 2px 4px rgb(86, 86, 86); /* Add box shadow */
  transition: box-shadow 0.3s ease; /* Add transition for smooth hover effect */
}

table{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust box shadow on hover */
}


th, td {
  padding: 5px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-style: none;
}

tr th:nth-child(1) {
  border-top-left-radius: 10px; /* Adjust border-radius as needed */
}
tr th:last-child {
  border-top-right-radius: 10px; /* Adjust border-radius as needed */
}


th {
  background-color: #d9ffcf;
  color: rgb(86, 86, 86);
  margin-top: 200px;
  

}

.edit-btn, .delete-btn {
  padding: 8px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-btn:hover, .delete-btn:hover {
  background-color: green;
  color: #fff;
}

.cont1{
  display: flex;
  flex-direction: row;
}

.cont2{
  display: flex;
  flex-direction: column;
}

