body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
table {
  width: 1150px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 170px;
  margin-left: 230px;
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #007bff;
  color: #fff;
}
tr:hover {
  background-color: #f2f2f2;
}
.edit-btn, .delete-btn {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-btn:hover, .delete-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.cont1{
  display: flex;
  flex-direction: row;
}

.cont2{
  display: flex;
  flex-direction: column;
}

.table-container{
  padding-left: 50px;
}